services:
- name: docker_hub_registry
  listen:
    address: :80
  upstream: https://registry-1.docker.io
  grace: 30s
  timeout: 50h
  http:
    logbody: true
    kind: soap
    authn:
      kind: api-key
      params:
        path: example-keys.yaml
    authz:
      kind: casbin
      params:
        model: example_model.conf
        policy: example_policy.csv
        parameters: [client, operation]